body {
    font-family: Arial;
    margin: 0;
}
header {
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    height: 20%;
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
header img {
    margin: 10px;
    box-shadow: 0px 0px 5px black;
}
header h1 {
    color:white;
    text-shadow: 1px 1px 5px black;
    font-size: 40px;
}
.sidebar {
    float:left;
    margin: 0;
    padding: 0;
    width: 15%;
    background: linear-gradient( white,blue,red);
    position: fixed;
    top:20%;
    height: 100%;
    overflow: auto;
}
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
.sidebar a:hover {
    background-color: #cccccc;
}

.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}
div.content {
    background-image: url("../img/back.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    margin-left: 15%;
    margin-top: 20vh;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 100vh;
}
div.content p {
    font-size:15px;
    font-style: italic;
    text-decoration: dashed;
    text-shadow: 1px 1px 2px white;
}
#bg-white{
    color:red;
}
#logo {
    height: 17vh;
}
table  {
    width: 100%;
    text-align: center;
    font-size: 15px;
    text-shadow: 1px 1px 2px whitesmoke;
}
table tr td img {
    width: 100%;
}
input,select {
    padding: 5px;
    margin-bottom: 10px;
    width: calc(100% - 10px);
}