body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 20px;
}

h1 {
    color: #007BFF;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: #fff;
}

tr:hover {
    background-color: #f5f5f5;
}

button {
    padding: 8px 12px;
    margin: 4px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.edit-button {
    background-color: #28a745;
}

.delete-button {
    background-color: #dc3545;
}
.create-button {
    padding: 8px 12px;
    margin: 10px;
    cursor: pointer;
    background-color: #17a2b8;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.create-button:hover {
    background-color: #138496;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-content form {
    margin-top: 20px;
    text-align: left;
}

.modal-content form label {
    display: block;
    margin-bottom: 8px;
}

.modal-content form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

.modal-content form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content form button:hover {
    background-color: #0056b3;
}

.modal-content form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
}

/* Дополнительные стили для option внутри select */
.modal-content form select option {
    font-size: 14px;
}

/* Стили для select */
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
}

/* Стили для option */
select option {
    padding: 8px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}



